.container-show {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 4rem 6rem;
}

.grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
}

.grid-item-show {
  overflow: hidden;
}

.card-show {
  position: relative;
  height: 40rem;
}

.card-img-show {
  width: 150px;
  margin-bottom: 2.5rem;
}

.card-map {
  width: 100vw;
  height: 100vh;
}

.card-content-show {
  padding: 2rem 2rem;
}

.card-head-show {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.card-text-show {
  font-size: 14px;
  color: #3d3d3d;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 22px;
}

.badge-show {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.badge-1 {
  border: 1px solid #F26279;
  color: #F26279;
  padding: 8px;
}

.badge-2 {
  border: 1px solid #52CCCE;
  color: #52CCCE;
  padding: 8px;
}

.badge-3 {
  border: 1px solid #92CE2F;
  color: #92CE2F;
  padding: 8px;
}

.badge-1:hover, .badge-2:hover, .badge-3:hover {
  opacity: 0.6;
}

.price-show-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-content-show h2 {
  text-align: right;
  margin-right: 2rem;
  font-size: 25px;
}

#plant-quantity-show {
  width: 50%;
}

hr {
  border-top: 1px solid #e3e3e3;
  margin-right: 2rem;
}

.hr-1 {
  margin: 50px 0 30px 0;
}

#price-plant {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #3d3d3d;
  text-align: right;
  margin-right: 2rem;
  font-size: 25px;
}

.hr-2 {
  margin: 30px 0 50px 0;
}

.card-btn-show {
  color: white;
  background-color: #92CE2F;
  border-radius: 50px;
  padding: 15px 15px;
  font-weight: bold;
  transition: 0.3s;
}

.card-btn-show:hover {
  background-color: #71aa00;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.card-btn-show .fa-shopping-cart {
  color: white;
}


// Review Style //


.review-show {
  padding: 50px;
}

.review-show h3 {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.review-show p {
  font-size: 14px;
  color: #3d3d3d;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 22px;
}

.br-widget a {
  font-size: 18px !important;
}
