<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/nicolasenne/image/upload/v1606160617/find-your-plants/background-image_no3ofn.jpg);">
  <img class="logo-white" alt="Find Your Plants logo" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606159635/find-your-plants/logo-white_cfqp0r.svg">
  <h1>More plants, less problems.</h1>
  <a href="#middle" class="btn btn-ghost">Start now!</a>
</div>
<div id="middle"></div>

<%= render 'grid-items' %>

<%= render 'shared/footer' %>


